#ifndef SMALLEST_SECRETS
#define SMALLEST_SECRETS

#define WIFI_PASSWORD "wep / password"
#define WIFI_SSID "ssid here"
#define HUE_BASE_STATION_IP "hue base station ip"
#define HUE_API_KEY "api key for the heu base station"

#endif